[[language]]
name = "python"
scope = "source.python"
injection-regex = "python"
file-types = ["py"]
indent = { tab-width = 4, unit = "  " }
formatter = { command = "blue"  }
language-servers = [ "pylsp" ]